{{ attach_library('axxon/axxon') }}

<h2 class="axxon_blue">{{ 'Axxon twig template example'|t }}</h2>
<p>{{ 'Text:'|t }} <b>{{ variable1 }}</b></p>
<p>{{ 'Number:'|t }} {{ variable2 }}</p>
<button class="axxon-button">{{ 'Click to see the portal name'|t }}</button>